@import url('https://fonts.googleapis.com/css2? family= Open+Sans:wght@400;700 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open-sans';
}

a, a:hover{
    text-decoration: none;
    color: unset;
}

html,
body{
    background-color: #e8e8e8;
}

header{
    background-color: #ffe500;
    height: 70px;
    display: flex;
    align-items: center;
}

nav{
    color: #636363;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}


.card{
    background-color: #ffff;
    border-radius: 4px ;
    border: 1px solid #d9d9d9;

}


.line-bottom{
    border-bottom: 1px solid #d9d9d9;

}

.btn-page-container{
    width: 220px;
    display: grid;
    grid-gap:20px;
}

.btn{
    border-radius: 4px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3483fa ;
}

.btn-blue{
    background-color:#3483fa  ;
    color: #fff;
}

.btn-white{
  background-color: #fff;
  color: #3483fa;
  border: 1px solid #3483fa ;
}


.mb20{
    margin-bottom: 20px;
}















